################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DesignPatterns/.vs/DesignPatterns/v16
/DesignPatterns/DesignPatterns/bin/Debug/netcoreapp3.1
/DesignPatterns/DesignPatterns/obj
